@import "tailwindcss";

:root {
  --background: hsl(0 0% 100%);
  --foreground: hsl(0 0% 14.9020%);
  --card: hsl(0 0% 100%);
  --card-foreground: hsl(0 0% 14.9020%);
  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(0 0% 14.9020%);
  --primary: hsl(217.6744 100% 33.7255%);
  --primary-foreground: hsl(0 0% 0%);
  --secondary: hsl(39.3750 17.5824% 64.3137%);
  --secondary-foreground: hsl(36 17.2414% 22.7451%);
  --muted: hsl(30.6977 24.5714% 65.6863%);
  --muted-foreground: hsl(40.0000 11.3924% 30.9804%);
  --accent: hsl(227.8022 100.0000% 64.3137%);
  --accent-foreground: hsl(202.4299 100.0000% 20.9804%);
  --destructive: hsl(180 100% 40.3922%);
  --destructive-foreground: hsl(0 0% 100%);
  --border: hsl(40.0000 16.5829% 60.9804%);
  --input: hsl(40.0000 16.5829% 60.9804%);
  --ring: hsl(217.6744 100% 33.7255%);
  --chart-1: hsl(217.6744 100% 33.7255%);
  --chart-2: hsl(212.2148 100% 29.2157%);
  --chart-3: hsl(205.9843 100% 24.9020%);
  --chart-4: hsl(202.4299 100.0000% 20.9804%);
  --chart-5: hsl(201.8182 97.7778% 17.6471%);
  --sidebar: hsl(30.6977 24.5714% 65.6863%);
  --sidebar-foreground: hsl(0 0% 14.9020%);
  --sidebar-primary: hsl(217.6744 100% 33.7255%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(227.8022 100.0000% 64.3137%);
  --sidebar-accent-foreground: hsl(202.4299 100.0000% 20.9804%);
  --sidebar-border: hsl(40.0000 16.5829% 60.9804%);
  --sidebar-ring: hsl(217.6744 100% 33.7255%);
  --font-sans: Inter, sans-serif;
  --font-serif: Source Serif 4, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.375rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 8px;
  --shadow-spread: -1px;
  --shadow-opacity: 0.1;
  --shadow-color: #1a1a1a;
  --shadow-2xs: 0px 4px 8px -1px hsl(0 0% 10.1961% / 0.05);
  --shadow-xs: 0px 4px 8px -1px hsl(0 0% 10.1961% / 0.05);
  --shadow-sm: 0px 4px 8px -1px hsl(0 0% 10.1961% / 0.10), 0px 1px 2px -2px hsl(0 0% 10.1961% / 0.10);
  --shadow: 0px 4px 8px -1px hsl(0 0% 10.1961% / 0.10), 0px 1px 2px -2px hsl(0 0% 10.1961% / 0.10);
  --shadow-md: 0px 4px 8px -1px hsl(0 0% 10.1961% / 0.10), 0px 2px 4px -2px hsl(0 0% 10.1961% / 0.10);
  --shadow-lg: 0px 4px 8px -1px hsl(0 0% 10.1961% / 0.10), 0px 4px 6px -2px hsl(0 0% 10.1961% / 0.10);
  --shadow-xl: 0px 4px 8px -1px hsl(0 0% 10.1961% / 0.10), 0px 8px 10px -2px hsl(0 0% 10.1961% / 0.10);
  --shadow-2xl: 0px 4px 8px -1px hsl(0 0% 10.1961% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: hsl(0 0% 9.0196%);
  --foreground: hsl(0 0% 89.8039%);
  --card: hsl(0 0% 14.9020%);
  --card-foreground: hsl(0 0% 89.8039%);
  --popover: hsl(0 0% 14.9020%);
  --popover-foreground: hsl(0 0% 89.8039%);
  --primary: hsl(217.6744 100% 33.7255%);
  --primary-foreground: hsl(0 0% 0%);
  --secondary: hsl(0 0% 14.9020%);
  --secondary-foreground: hsl(0 0% 89.8039%);
  --muted: hsl(0 0% 12.1569%);
  --muted-foreground: hsl(0 0% 63.9216%);
  --accent: hsl(202.4299 100.0000% 20.9804%);
  --accent-foreground: hsl(227.9032 100.0000% 51.3725%);
  --destructive: hsl(180 100% 40.3922%);
  --destructive-foreground: hsl(0 0% 100%);
  --border: hsl(0 0% 25.0980%);
  --input: hsl(0 0% 25.0980%);
  --ring: hsl(217.6744 100% 33.7255%);
  --chart-1: hsl(223.1250 100% 37.6471%);
  --chart-2: hsl(212.2148 100% 29.2157%);
  --chart-3: hsl(202.4299 100.0000% 20.9804%);
  --chart-4: hsl(205.9843 100% 24.9020%);
  --chart-5: hsl(202.4299 100.0000% 20.9804%);
  --sidebar: hsl(0 0% 5.8824%);
  --sidebar-foreground: hsl(0 0% 89.8039%);
  --sidebar-primary: hsl(217.6744 100% 33.7255%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(202.4299 100.0000% 20.9804%);
  --sidebar-accent-foreground: hsl(227.9032 100.0000% 51.3725%);
  --sidebar-border: hsl(0 0% 25.0980%);
  --sidebar-ring: hsl(217.6744 100% 33.7255%);
  --font-sans: Inter, sans-serif;
  --font-serif: Source Serif 4, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.375rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 8px;
  --shadow-spread: -1px;
  --shadow-opacity: 0.1;
  --shadow-color: #1a1a1a;
  --shadow-2xs: 0px 4px 8px -1px hsl(0 0% 10.1961% / 0.05);
  --shadow-xs: 0px 4px 8px -1px hsl(0 0% 10.1961% / 0.05);
  --shadow-sm: 0px 4px 8px -1px hsl(0 0% 10.1961% / 0.10), 0px 1px 2px -2px hsl(0 0% 10.1961% / 0.10);
  --shadow: 0px 4px 8px -1px hsl(0 0% 10.1961% / 0.10), 0px 1px 2px -2px hsl(0 0% 10.1961% / 0.10);
  --shadow-md: 0px 4px 8px -1px hsl(0 0% 10.1961% / 0.10), 0px 2px 4px -2px hsl(0 0% 10.1961% / 0.10);
  --shadow-lg: 0px 4px 8px -1px hsl(0 0% 10.1961% / 0.10), 0px 4px 6px -2px hsl(0 0% 10.1961% / 0.10);
  --shadow-xl: 0px 4px 8px -1px hsl(0 0% 10.1961% / 0.10), 0px 8px 10px -2px hsl(0 0% 10.1961% / 0.10);
  --shadow-2xl: 0px 4px 8px -1px hsl(0 0% 10.1961% / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}
body {
  background: var(--background);
  color: var(--foreground);
}
